/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
.form-phone {
  display: inline-block;
  width: 32.5%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.2rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 1rem;
}
#custom-search-button {
  padding: 0;
  width: 600px;
  margin: 20px auto 0;
  position: relative;
}
#custom-search-button button[type='button']{
  position: absolute;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  right: -1px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-size: 0.875rem;
  top: 0;
  border: 0;
  padding: 0 25px;
  height: 50px;
  cursor: pointer;
  outline: none;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  background-color: #fc5b62;
}
#custom-search-button button[type='button']:hover {
  background-color: #FFC107;
  color: #222;
}
@media (max-width: 575px) {
  #custom-search-button button[type='button'] {
    text-indent: -999px;
    background: #fc5b62 url(../img/search.svg) no-repeat center center;
  }
}
a.btn_custom1,
.btn_custom1 {
  border: none;
  color: #fff;
  background: #fc5b62;
  outline: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  padding: 8px 10px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 5px;
}
a.btn_custom1:hover,
.btn_custom1:hover {
  background: #0054a6;
  color: #fff;
}

a.btn_custom2,
.btn_custom2 {
  border: none;
  color: #fff;
  background: #fc5b62;
  outline: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  padding: 14px 66px;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content : center;
 
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 5px;
}
a.btn_custom2:hover,
.btn_custom2:hover {
  background: #0054a6;
  color: #fff;
}

@media only screen and (min-width: 992px) {
  nav#menu.custom-menu {
    display: block !important;
  }

  #mm-menu.custom-menu {
    display: none !important;
  }

  header .btn_mobile {
    display: none !important;
  }

  /* Menu */
  .custom-menu {
    position: relative;
    z-index: 9;
    width: auto;
    top: 12px;
    right: 15px;
    background: #fff;
  	border: 1px solid #ededed;
  	margin-bottom: 25px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #fff;
  }
  .custom-menu ul,
  .custom-menu ul li {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ededed;
    font-size: 16px;
  font-size: 1rem;
  margin: 2px 10px 0 0;
  }
  .custom-menu ul a,
  .custom-menu ul li a {
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
    color: #555;
  display: block;
  padding: 15px 10px;
    white-space: nowrap;
  }

  /*First level styles */
  .custom-menu > ul > li span > a {
    color: #fff;
    padding: 0 8px 15px 8px;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 500;
  }

  header.sticky .custom-menu > ul > li span > a {
    color: #444;
  }
  header.sticky .custom-menu > ul > li span:hover > a {
    opacity: 1;
    color: #fc5b62;
  }

  /* Submenu*/
  .custom-menu ul ul {
    position: absolute;
    z-index: 1;
    visibility: hidden;
    margin: 0;
    display: block;
    padding: 0;
    left: 80%;
    top: 10%;
    background: #fff;
    min-width: 200px;
    -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.175);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.175);
    transform: scale(0.4);
    transform-origin: 10% top;
    transition: 0.15s linear, 0.1s opacity cubic-bezier(0.39, 0.575, 0.565, 1), 0.15s transform cubic-bezier(0.1, 1.26, 0.83, 1);
    opacity: 0;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
  }
  .custom-menu ul ul:before {
    bottom: 100%;
    left: 15%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 7px;
    margin-left: -7px;
  }
  .custom-menu ul ul li {
    display: block;
    height: auto;
    padding: 0;
  }
  .custom-menu ul ul li a {
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 500;
    color: #555;
    border-bottom: 1px solid #ededed;
    display: block;
    padding: 15px 10px;
    line-height: 1;
  }

  .custom-menu ul li:hover > ul {
    padding: 0;
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-transition-duration: 0s, 0.2s, 0.2s;
    transition-duration: 0s, 0.2s, 0.2s;
  }

  .custom-menu ul ul li:first-child a:hover {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
  }
  .custom-menu ul ul li:last-child a {
    border-bottom: none;
  }
  .custom-menu ul ul li:last-child a:hover {
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -ms-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
  }
  .custom-menu ul ul li:hover > a {
    background-color: #f9f9f9;
    color: #fc5b62;
    padding-left: 18px;
  }
}
/* Submenu 2nd level right */
.custom-menu ul ul.second_level_right {
  left: auto;
  right: 3px;
}
.custom-menu ul ul.second_level_right:before {
  right: 15%;
  left: auto;
}

/* Submenu 3rd level */
.custom-menu ul ul li span a {
  font-weight: 500 !important;
}
.custom-menu ul ul li span a:hover {
  color: #fc5b62;
  padding-left: 18px;
  opacity: 1;
}
.custom-menu ul ul li span a:after {
  font-family: 'ElegantIcons';
  content: "\35";
  float: right;
  font-size: 16px;
  font-size: 1rem;
  margin-top: -2px;
}

.custom-menu ul ul ul {
  position: absolute;
  border-top: 0;
  z-index: 1;
  height: auto;
  left: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  background: #fff;
  min-width: 190px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.custom-menu ul ul ul.third_level_left {
  right: 100%;
  left: auto;
}
.custom-menu ul ul ul li a {
  border-bottom: 1px solid #ededed !important;
}
.custom-menu ul ul ul li:last-child a {
  border-bottom: none !important;
}

/* Arrows top 3rd level*/
.custom-menu ul ul ul:before {
  border-width: 0;
  margin-left: 0;
}

